html,
body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  background: rgba($color: #fff, $alpha: 0.8);
  color: rgba($color: #000, $alpha: 0.9);
}

body {
  padding: 32px 64px;
}
